* {
    margin: 0;
    padding: 0;
}

nav#navbar {
    background-color: rgba(0, 216, 79, 0.35);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
}

img.navLogo {
    width: 130px;
    height: 95px;
}

a.nav-link {
    font-size: x-large;
    font-weight: 600;
}

div#aboutUsContainer {
    height: fit-content;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url("../images/Caminho_das_frutas.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

span.genericHeader {
    font-size: 4rem;
    align-self: center;
}

span.genericText {
    font-size: 2rem;
    max-width: 95%;
    margin-bottom:550px
}

div#aboutUsText {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

div#servicesContainer {
    min-height: 80vh;
    height: fit-content;
    background-color: aquamarine;
}

div#results {
    min-height: 80vh;
    height: fit-content;
    background-color: rebeccapurple;
}

img#aboutUsImage {
    margin-top: auto;
    margin-left: auto;
    max-height: 90%;
    max-width: 80%;
}

div#contact {
    min-height: 80vh;
    height: fit-content;
    background-color: turquoise;
}