@()

@main("Organiko") {
<div id="landingPage">
  <nav id="navbar" class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#">
      <img class="navLogo" src="@routes.Assets.versioned("images/logo.png")" alt="Organiko Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="#">Quem somos<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="#">Nossos serviços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="#">Fale Conosco</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid" id="aboutUsContainer">
    <div id="aboutUsText">
      <span class="genericHeader">Quem somos?</span>
      <span class="genericText">
        A organika tem como objetivo incentivar a produção e 
        consumo de alimentos orgânicos, oriundos de agricultura 
        familiar, oferecendo capacitação, apoio e material para nossos 
        clientes
      </span>
    </div>
  </div>
  <div class="container-fluid" id="servicesContainer">
    <span>Nossos serviços</span>

  </div>
  <div class="container-fluid" id="results">
    <span>Dados estatísticos</span>
  </div>
  <div class="container-fluid" id="contact">
    <span>Contato</span>
  </div>
</div>
}